@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200;500&family=Poiret+One&family=Roboto:wght@300&family=Rubik&family=Rubik+Mono+One&family=Source+Code+Pro:wght@200&family=VT323&display=swap');

* {
    font-family: 'Lato', sans-serif;

}

.centered {
    text-align: center;
}

.App {
    min-height: 100vh;
}

.Grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    position: relative;
    min-height: 80vh;
    background-color: #f4f1de;
    border: solid 1px black;
}


.app-title {
    text-align: center;
    font-size: 230%;
    align-items: center;
}

.img-index {
    width: 17vw;
    height: 8.2 vh;
    border-radius: 35%;
    justify-content: center;
}

.img-show {
    width: 35vw;
    height: 12vh;
    border-radius: 35%;
    justify-content: center;
}

.nav {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #3d405b;
    /* height: 2.5rem; */

}

.wrap-nav {
    background-color: #81b29a;
    /*  
    position: relative; */
    border: solid 2px black;
}

.names-index {
    color: #e07a5f;
    text-decoration: none;


}



.nav h3 {
    color: #3d405b;

}


.header {
    color: #3d405b;
    background-color: #81b29a;
    height: 100px;
    border: solid 1px black;
}

.space-index {
    margin-top: 3vh;
    align-items: center;
    place-items: center;
    margin-right: 8px;
}

.space-index h3 {
    background-color: #3d405b;
    color: #f2cc8f;
}

.feeding {
    color: #3d405b;
}

.baby {
    color: #3d405b;
}

.name-show {
    color: #e07a5f;
}

#delete {
    background-color: #f07167;
    justify-content: left;

}

button {
    margin-top: 15px;
    ;
}